<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }} " />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>My Website - About</title>
</head>
<body>
    <h1> Nasha Frith</h1>
    <p> Hey there, my name is Nasha! I'm 22 years old, and I'm studying Computer Science at UWI. Three things that define me are games; like video games, sports, board games, etc, food, and technology. I also, you guessed it, like anime. Thanks for stopping by!
    </p>
    <img src= "{{ url_for('static', filename = 'cutepuppy.avif') }}" alt = "Cute Puppy">

</body>
</html>