<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website - About</title>
</head>
<body>
    <h1> Nasha Frith</h1>
    <p> Hey there, my name is Nasha! I'm 22 years old, and I'm studying Computer Science at UWI. Three things that define me are games; like video games, sports, board games, etc, food, and technology. I also, you guessed it, like anime. Thanks for stopping by!</p>
</body>
</html>